.navbar {
  background: rgb(77, 0, 171);

  padding: 0 15px;
}

.navbar-list {
  min-width: 100%;
}

.nav-item {
  padding: 5px;
}

.nav-item:hover {
  background-color: rgb(77, 0, 171);
}

.nav-link {
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .navbar {
    justify-content: start !important;
  }

  .navbar-list {
    min-width: 300px;
  }
}
